:root {
    --main-color:#9face6;
    --secondary-color:#f9ada0;
    --third-color:#b3d89c;
}

body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.section-title {
    display: inline-block;
    width: 100%;
    font-family: 'Jost-VariableFont_wght', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--main-color);
    line-height: 30px;
    text-align: left;
    margin-bottom: 10px;
}

.section-title-description { 
    display: inline-block;
    width: 100%;
    font-family: 'Jost-VariableFont_wght', sans-serif;
    font-size: 36px;
    font-weight: 600; 
    line-height: 40px;
    text-align: left;
    color: #18181f;
}


.paragraph {
    display: inline-block;
    width: 100%;
    font-family: 'Jost-VariableFont_wght', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #6e6e6e;
    margin-bottom: 20px;
}

.section-title.center {
    text-align: center;
}

.section-title-description.center {
    text-align: center;
}

.paragraph.center {
    text-align: center;
}
.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.third-color {
   color: var(--third-color);
}

.span-experience {
    color: var(--main-color);
}