/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */

/* components */
@import '../components/button.css';
@import '../components/pseudo-element.css';

/* CUSTOM CSS */

/* HERO start */
@import '../pages/hero.css';
/* Hero END */


/*SERVICES start */
@import '../pages/services.css';
/*SERVICES end */


/*OPTIMIZE start */
.experience-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-box {
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.experience-img {
    width: 96%;
}

.experience-p {
    width: 85%;
    
    
}

.experience-minus {
    width: 5%;
    text-align: center;
}

/*OPTIMIZE end */


/*MARKETING AGENCY start*/
/*MARKETING AGENCY end*/


/*Featured start */
/*Featured end */


/*TEAM start */
@import '../pages/Team.css';
/*TEAM end */


/*HAPPY CLIENTS start */
.clients-h2-color {
    color: var(--secondary-color);
}

.container > .clients-arrow-positioning {
    position: relative;
    margin-bottom: 0;
}

.container > .reviews-row {
    margin-top: 0;
}

.happy-arrow {
    display: none;
    font-size: 50px;
    color: grey;
    position: absolute;
    bottom: 30px;
    right: 0;
  
    
}

.reviews{
    border: 3px solid lightgray;
    padding: 40px;
    border-radius: 10px;

}
.reviews-personal {
    display: flex;
    flex-direction:row;
    margin-top: 20px;
    
}

.person-img {
    height: 60px;
    border-radius: 40px;
}

.rating-img {
    height: 50px;
}
.person-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.paragraph {
    margin-bottom: 0px;
}


@media (max-width: 400px) {
    .person-info {
        display: block;
    }
}

@media (max-width: 768px) {
    .second-review {
        display: none;
    }
}
/*HAPPY CLIENTS end */
