/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */

/* components */
@import '../components/button.css';
@import '../components/pseudo-element.css';

/* CUSTOM CSS */

/* HERO start */
@import '../pages/hero.css';
/* Hero END */


/*SERVICES start */
@import '../pages/services.css';
/*SERVICES end */


/*OPTIMIZE start */
.experience-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-box {
    background-color: #e5f8ff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.experience-img {
    width: 100%;
}

.experience-p {
    width: 90%;
    
    
}

.experience-plius {
    width: 5%;
    text-align: center;
    
    
}

.experience-box > p {
    margin-bottom: 0px;
}

.experience-box > i {
    margin-bottom: 0px;
}

.span-experience {
    color: var(--main-color);
}
/*OPTIMIZE end */


/*MARKETING AGENCY start*/
/*MARKETING AGENCY end*/


/*Featured start */
/*Featured end */


/*TEAM start */
@import '../pages/Team.css';
/*TEAM end */


/*HAPPY CLIENTS start */
/*HAPPY CLIENTS end */
