/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* vendors */

/* components */
@import '../components/button.css';
@import '../components/pseudo-element.css';

/* CUSTOM CSS */

/* HERO start */
@import '../pages/hero.css';
/* Hero END */


/*SERVICES start */
@import '../pages/services.css';
/*SERVICES end */


/*OPTIMIZE start */
.experience-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-box {
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.experience-img {
    width: 100%;
}

.experience-p {
    width: 85%;
    
    
}

.experience-minus {
    width: 5%;
    text-align: center;
}

/*OPTIMIZE end */


/*MARKETING AGENCY start*/
/*MARKETING AGENCY end*/


/*Featured start */
@import '../pages/featured.css';



@media (max-width: 768px){
    .none {
    display: none;
}
    }

.center {
    justify-content: center;
}

.flex {
    display: flex;
} 

.arrow {
    display: none;
    justify-content: flex-end;   
    font-size: 36px;
    width: 100;
    color: #6e6e6e6f;
    font-family: 'Jost-VariableFont_wght', sans-serif;
    line-height: 40px;
}

@media (min-width: 992px){
.arrow {
    display: flex;
}
    }

.arrow-space {
    margin-left: 30px;
    padding-left: 0;
}

.flex-arrow {
    display: flex;
    margin-top: 190px;
}
/*Featured end */


/*TEAM start */
@import '../pages/Team.css';
/*TEAM end */


/*HAPPY CLIENTS start */
/*HAPPY CLIENTS end */
