.services-socials {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: start;
}

.services-socials > .social {
    padding: 10px 10px;
    text-align: center;
}

.services-socials > .social > .numbers {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.services-socials > .social > .description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 60px;
    font-weight: 500;
    color: #6e6e6e;
}

@media (min-width: 768px) {
    .services-socials {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .social .item {
        margin-top: 30px;
    }
}

.service-background {
   background-image:url(../../img/strategy-bg-k.png);
   background-size: cover;
   height: 1800px;
   background-position: top;
   background-repeat: no-repeat;
}

/* @media (max-width: 768px) {
.hidden.service-background{}
} */