.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: start;
}

.services > .service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    text-align: center;
}

.services > .service > .numbers {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}

.services > .service > .description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 60px;
    font-weight: 400;
    color: #6e6e6e;
}

.service-background{
   background-image:url(../../img/strategy-bg-k.png);
   background-size: cover;
   width: vv; 
   height: 1800px;
   background-position: top;
   background-repeat: no-repeat;
}

@media (min-width: 1400px) {
    .services {
        grid-template-areas: "a a a";
       
    }
}

@media (min-width: 1200px) {
    .services {
        grid-column-end: auto;
        /* grid-template-areas: "a a a"; */
    }
}

@media (min-width: 992px) {
    .services {
        grid-template-areas: "a a a a";
    }
}

@media (min-width: 768px) {
    .services {
        grid-template-areas: "a a a a";
    }
}

@media (min-width: 576px) {
    .services {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 320px) {
    .services {
        grid-template-columns: 1fr;
    }
}

/* @media (max-width: 768px) {
.hidden.service-background{}
} */