.team-logos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: start;
}

.team-logos > .logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    text-align: center;
}

.team-logos > .logo > .icon {
  width: 100%;
}

@media (min-width: 768px) {
    .team-logos {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 992px) {
    .team-logos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}