.team-section .logos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    align-items: center;
}

.team-section .logos > .logo {
   display: flex;
   flex-direction: column;
   padding: 20px 20px;
   justify-content: center;
}

.team-section .logos > .logo > .icon {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: center;
}

@media (min-width: 968px) {
    .team-section .logos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 768px) {
    .team-section .logos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 568px) {
    .team-section .logos {
        grid-template-columns: 1fr;
    }

}

@media (min-width: 320px) {
    .team-section .logos {
        grid-template-columns: 1fr;
    }

}